 <% if logged_in? %>
 <script type="text/javascript">
   let currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
        window.currentUser=currentUser.user
</script>
<% end %>
<main id="root"></main>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">