
  //center display
  .search-head-title-wrap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    box-sizing: border-box;
  }
  .center-header{
    padding-top: 17px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 12px;
    text-align: center;
    font-style: oblique;
    font-size:32px;
    line-height: 36px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 2px;  
  }

  .center-advertisement{
    max-width: 1402px;
    // padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 55px;
    margin-top: 10px;
  }
  .left{
    width: 211.66667%;
    // padding-left: 18px;
    padding-right: 18px;
    display: flex;
    height: 330px;
    width: 870px;
  }
  .inner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#e69530;
    color:white;
    padding: 0px 40px;
    text-decoration: none;
    font-family: inherit;
    width: 270px;
  }
  .top{
    font-size: 43px;
    color: black;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    padding-bottom: 5px;
    font-style: italic;
  }
  .middle{
    padding-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;

    text-align: center;
    font-weight: 100;
    margin: 5px;
    color:black;
    padding-bottom: 5px;
    font-style: italic;
  }
  .bottom{
    font-size: 23px;
    color:black;
    font-family: inherit;
    text-align: center;
    padding-top:26px;
    font-style: oblique;

  }
  .inner-right{
    height: inherit;
    width: inherit;
    background-size: cover;
    background-image: url("https://i.imgur.com/FctLs3w.jpg");
  }

  .right{
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 330px;
    border-radius: 4px;
    
  }
  .right-top-1{
    padding-bottom: 24px;
    width: inherit;
    height: 230px;
  }

  .right-top{
    height: inherit;
    width: inherit;
    background-size: cover;
    background-image: url("https://i.imgur.com/M1RWlE9.jpg");
  }

  .right-bottom{
    width: inherit;
    height: 100px;
    background-color: #e69530;

  }

  .right-bottom-text{
    padding-top: 29px;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
  }
  .fa-greater-than{
    font-size: 19px;
    color: black;
    text-align: center;
    padding-top: -13px;
    font-style: oblique;
    margin-left: 2px;
    
  }

  #right-symbol{
    margin-left: -2px;
    font-size: 14px;
  }
