.page{
  max-width: 1300px;
  padding-left: 37px;
  position:relative;
}
.headerright{
  height: 25px;
}
.header-link {
  text-decoration: none;
}
.NavBarTotal {
  border-bottom: 1px solid #e5e4e2;
  width: 100%;
//   display: flex;
//   justify-content: space-between;
  min-width: 1300px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 4px;
  padding-bottom: 6px;
  
}

.NavBarLeft {
  display: flex;
//   align-items: center;
  width: 50%;
  min-width: 555px;
}

.NavbarRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 66px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 250;
}

.right-after-signin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 294px;
  font-family: inherit;
  font-size: inherit;
}

.logo {
  padding-right: 20px;
  font-size: 35px;
  color: #f56416;
  font-family: inherit;
}

.Register, .sell {
  font-size: 15px;
  color:black;
  background-color: white;
  border: 0px;
  text-decoration: none;
  margin-right: 12px;
}

.username {
  margin-right: 22px;
  margin-left: 8px;
  padding-bottom: 0;
  font-size: 15px;
  color:black;
  font-family:Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif";

}

.Register:hover, .sell:hover {
  cursor: pointer;
  // background-color: black;
  text-decoration: underline;
  margin-right: 12px;
  opacity: 0.3;
}

.login {
  font-size: 15px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color:black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 12px;
}

.login:hover{
  
  cursor: pointer;
  background-color: black;
  text-decoration: underline;
  color: white;
  margin-right: 12px;
  // opacity: 0.3;
}

.login:focus, .logout:focus {
  outline: none;
}

.logout-div {
//   font-size: 15px;
//   font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
//   color: black;
//   padding-left: 8px;
//   padding-right: 7px;
//   padding-top: 7px;
//   padding-bottom: 7px;
//   border: 1px solid;
//   border-radius: 5px;
//   margin-right: 12px;
//   background-color: black;
//     color: white;
// }
font-size: 15px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color:black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 12px;
}


.logout-div:hover {
  // cursor: pointer;
  // background-color: black;
  // text-decoration: underline;
  // color: white;
  // margin-right: 12px;
  // opacity: 0.3;
  cursor: pointer;
  background-color: black;
  text-decoration: underline;
  color: white;
  margin-right: 12px;
}

//  logout-div {
//   color: #e5e4e2;
//   margin-top: 3px;
//   font-size: 14px;
//   font-family: inherit;
//   text-decoration: none;
// }


.search-form {
  padding-top: 5px;
  .inputSearch {
    padding-left: 7px;
    height: 28px;
    font-size: 15px;
    font-family: inherit;
    width: 350px;
    border: 1px solid #e5e4e2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e5e4e2;
  }

  .inputSearch:focus {
    border: 1px solid #e5e4e2;
    background-color: white;
  }

  .search-button, .logout-div {
    padding-top: 3px;
    border: 1px solid black;
    padding-bottom: 3px;
    height: 32px;
    font-size: 15px;
    font-family: inherit;
    background-color:black;
    color:white;
    width: 80px;
    right: 5px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .search-button:focus {
    outline: none;
  }

  .search-button:hover {
    // background-color: #f56416;
    cursor: pointer;
  }
}

.category-div {
  width: 110%;
  margin-left: -36px;
  border-top: 1px solid #e5e4e2;
  border-bottom: 1px solid #e5e4e2;
  font-family: inherit;
}
.nav-category {
    width: 85%;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-family: inherit;


    button {
      display: inline-block;
      position: relative;
      padding-bottom: 3px;
      outline: none;
      font-size: 14px;
    }

    button:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }

    button:hover {
      cursor: pointer;
    }

    button:hover:after {
      width: 100%;
      background: #f56416;
    }
}

.fa-shopping-cart{
  font-size: 19px;
  margin-top: 2px;
  padding-left: 0px;
}