.product_show{
    height: 438px;
    width: 100%;
    display: flex;
    padding-left: 77px;
    flex-direction: row;
}

.product_img{
    height:inherit;
    
}
.product_details{
    padding-top: 59px;
    padding-left: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product_items{
    height: 240px;
    width:100%;
    display: flex;
    flex-direction: row;
}