.product_show{
    height: 100%;
    width: 1300px;
    display: flex;
    padding-left: 77px;
    flex-direction: row;
}

.product_img{
    height:inherit;
    
}
.product_details{
    padding-top: 59px;
    padding-left: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product_items{
    height: 1200px;
    width:1304px;
    display: flex;
    // flex-direction: row;
}