.product-form{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-style: groove;
    height: 600px;
}

.total-form{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 33px;
}
.with-out-image{
    display: flex;
    flex-direction: column;
    width: 50%
}
.image-one{
    width:50%;
    display: flex;
    justify-content: center
}
.form-title{
    font-size:35px;
    margin-left: 38%
}
.title-input{
    border:1px solid black;
    padding-top:10px;
}

.form-label{
font-family:"Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
font-size:18px;
padding-bottom: 34px;
}

