.product-form{
    // width:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // margin: 0 auto;
    max-width: 1300px;
  position: relative;
  background-color: #E1E3DF;
  padding-left: 15px;
    padding-right: 15px;
}
  
  .total-form{
      margin-left: 1px;
      margin-right: 1px;
      margin-top: 5%;
      display: flex;
      flex-direction:column-reverse;
      justify-content: space-between;
      margin-top: 33px;
      // border-style: groove
  }
  
  .image-one{
      padding: 24px;
      margin-bottom: 18px;
      border-radius: 3px;
      background-color: #FFF;
      border:1px solid #e1E3DF;
      border-bottom-color: #CBCCC9;
      margin:0 0 12px;
      display: flex;
      flex-direction: row
  
  
  }
  
  .with-out-image{
      display: flex;
      flex-direction: column;
      padding:24px;
      border-radius: 3px;
      background-color: #FFF;
      border:1px solid #e1E3DF;
      border-bottom-color: #CBCCC9;
      margin:0 0 12px;
  }
  .form-title{
      font-size:26px;
      font-weight: 500;
      line-height: 1.2;
      box-sizing: border-box;
      text-align: center;
      font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
      color:#222;
      padding-top:30px;
  }
  .listing-details{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 23px;
      line-height: 1.2;
      font-family: inherit;
  }
  
   .form-label{
      font-family:"Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
      font-size:18px;
      padding-bottom: 34px;
      width:33.3333%;
      font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
      h6{
          font-size: small;
          padding-top: 2px;
          font-weight: 100;
      }
  
   }
  .title-input{
    border: 1px solid;
    border-color: #2222221a;
    width: 100%;
    height: 27px;
    /* padding-top: 5px; */
    padding-right: 32px;
    padding-left: 6px;
    margin-left: 34px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .title{
      display: flex;
      flex-direction: row;
  }
  .title-label{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500
  }
  .form-description{
      display: flex;
      flex-direction: row;
      width:100%;
  }
  .desc-label{
      h6{
          font-size: small;
      font-weight: 100;
      padding-top: 2px;
      font-family: inherit;
      line-height: 1.67;
      padding-right: 2px;
      }
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
      width: 33.333%;
      padding-right: 21px;
      
  }
  .desc2{
      width:100%
  }
  .textarea-desc{
      border:1px solid;
      border-color: #2222221a;
      width:100%;
      height:276px;
      padding-top:10px;
      padding-left:3px;
      font-size: 18px;
      font-family: inherit
  }
  
  .price-div{
      display: flex;
      flex-direction: row;
      margin-top: 23px;
  }
  .price{
      width: 33.3333%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
      h6{
          margin-right: 120px;
          font-size: small;
        font-weight: 100;
        padding-top: 2px;
        font-family: inherit;
        line-height: 1.67;
        padding-right: 2px;
      }
    
  }
  .price-input{
    border: 1px solid;
    border-color: #2222221a;
    width: 30%;
    height: 27px;
    padding-top: 4px;
    padding-right: 32px;
    margin-left: -84px;
    padding-left: 4px;
    font-size: 18px;
    font-family: inherit;
    margin-top: 21px;
  }
  .quantity-div{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
  }
  .quantity{
    width: 33.3333%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    h6{
        margin-right: 120px;
    font-size: small;
    font-weight: 100;
    padding-top: 2px;
    font-family: inherit;
    line-height: 1.67;
    padding-right: 2px;
    }
  }


  #quantity-input{
    border: 1px solid;
    border-color: #2222221a;
    width: 30%;
    height: 27px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 32px;
    margin-left: -80px;
    font-size: 18px;
    font-family: inherit
  }
.buttons{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    margin-left: 40%

}

.button{
    border: 1px solid black;
    margin: 12px;
    height: 35px;
    width: 150px;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.product-errors{
    align-items: center
}
.image-box{
    height: 100px;
    width: 100px;
    // margin-left: -;
    // margin-top: -59px;
    border: 1px solid black;
    

}

.image-box:hover{
    cursor: pointer
}
.image-left{
    font-size: 18px;
    padding-bottom: 34px;
    width: 33.3333%;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    }
h6{
    margin-right: 120px;
    font-size: small;
    font-weight: 100;
    padding-top: 2px;
    font-family: inherit;
    line-height: 1.67;
    padding-right: 2px;
}
}


.image-file{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: -0;
    font-size: 0;
    text-indent: -999999px;
    background-image: url("https://i.imgur.com/AVT8N0U.png");
    background-repeat: no-repeat; 
}
.preview-image{
    display: block;
    height: 100px;
    width: 100px;
    // margin-top: 0px;
    position: absolute;
      
}


.fa-camera{
    margin-top: 28px;
    font-size: 29px;
    margin-left: 38px;
        p{
            font-size: 12px;
            margin-left: -16px;
            margin-top: 7px;
            font-weight: 600;
        }
}

