.product_items{
    margin-top:23px;
}
.product_index_img{
    width:200px;
    height: 200px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
}
.index-productName{
    width: 200px;
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.index-productName:hover{
    width: 200px;
    overflow: visible;
}
